@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@400;500&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-attachment: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;   
  margin-right: 0;
  overflow-x: hidden;
}

.site-main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

h1, .header-nav a {
  font-family: 'Playfair Display', serif;
}
body, p, .pill {
  font-family: 'Poppins', sans-serif;
}

body {
background: linear-gradient( 
    360deg,
    #FFD2CC 0%, 
    #EE8478 33%,
    #C54B77 66%, 
    #8F2A5C 100%
  );
  background-repeat: no-repeat;

  /* background-attachment: fixed;
  background-size: cover;
  margin: 0;
  min-height: 100vh; */
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}