:host {
  display: flex;
  padding: 0rem;
  color: var(--gray-700);
}

.hero {
  max-width: 1000px;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
}

.home-container {
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 50px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;  
}

.hero-title {
  font-size: 6rem;     
  margin: 0;
  line-height: 1.1;
  color: #FFFFFF;
  text-align: left;
}

.hero-intro {
  font-size: 1.5rem;      
  margin: 0;
  line-height: 1.4;
  color: #F7F5F4;
  padding-top: 10px;
}

.hero-photo {
  flex: 0 0 400px;
  flex-shrink: 0;            
  height: 500px;   
  object-fit: cover;        
  border-radius: 195px;     
  border: 1px solid BLACK;   
}

.photo-wrapper {
  overflow: hidden;
  width: 400px; 
  height: 500px; 
}
